
:root{
    --cor0: #C8E3C9;
    --cor1: #C7F0DF;
    --cor2: #CFFADD; 
    --cor3: #DCFACF;
    --cor4: #B1C9B2;
    --cor5: #586358;
}
body{
    background-color: #CFFADD;
    padding: 0%;
    margin: 0%;
    font-family: Poppins, sans-serif;
    
}
header{
    background-image: linear-gradient(to bottom, #C8E3C9, #a3bda4);
    padding: 15px;
    text-align: left;
    font-family: Poppins;
    font-weight: bold;
    color: white;
    ;
}
header>h1{
    text-align: center;
}
header>span{
    padding: 0.5em;
    
}
header>span:hover{
    background-color: #ffffff9f;
    border-radius: 10px;
    
    
    
}
header>a{
    text-decoration: none;
    padding: 0.5em;
    color: rgb(255, 255, 255);
}
header>a:hover{
    background-color: #ffffff9f;
    border-radius: 10px;
    color: black;
    
    
    
    
}

main#mp{
    background-color: white;
    height: 65em;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding:1.5em;
    font-weight: bold;
    font-size: 0.9em;
    border-radius: 0px 15px;
    text-align: justify;
    
    
}
section#sect{
    background-color: #B1C9B2;
    width: 30em;
    height: 42.5em;
    padding: 11px;
    display: inline-block;
}
h1#p1{
    font-size: 7em;
    font-family: Anton, sans-serif;
    color: rgb(255, 255, 255);
    font-weight:1;
    padding-left: 5px;
}
p#p2{
    font-size: 1.5em;
    font-family: Anton, sans-serif;
    color: #586358;
    padding-left: 5px;
    
    
}
img#photo{
    margin-left: 26em;
    margin-top: 9em;
    
    
    position: absolute;
    
}

section#sect,section#sect2{
    display: inline;
    float: left;
}
details{
    text-align: left;
    margin-left: 17em;
    margin-top:25em;
    background-color: #B1C9B2;
    padding: 5px;
    border-radius: 8px;
    font-family: Poppins;
    font-weight: bold;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.404);
    
    

}
ul{
    
    columns: 2;
}

details>p>a{
    text-decoration: none;
    color: black;
}
details>p>a:hover{
    color: white;

}

div.fotos{
    text-align: center;
    
}
main#mp>h1{
    text-align: center;
    
    font-weight: normal;
    font-size: 3em;
    letter-spacing: 3px;
   
}