:root{
    --cor0: #C8E3C9;
    --cor1: #C7F0DF;
    --cor2: #CFFADD; 
    --cor3: #DCFACF;
    --cor4: #B1C9B2;
    --cor5: #586358;
}
body{
    background-color: #CFFADD;
    padding: 0%;
    margin: 0%;
}
header{
    background-image: linear-gradient(to bottom, #C8E3C9, #a3bda4);
    padding: 10px;
}
header>h1{
    text-align: center;
}
header>span{
    padding: 0.5em;
}
header>span:hover{
    background-color: #ffffff9f;
    border-radius: 10px;
    
    
    
}
header>a{
    text-decoration: none;
    padding: 0.5em;
    color: black;
}
header>a:hover{
    background-color: #ffffff9f;
    border-radius: 10px;
    
    
}

main#mp{
    background-color: white;
    height: 30em;
    width: 23em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding:1.5em
    
}
section#sect{
    background-color: #B1C9B2;
    width: 30em;
    height: 42.32em;
    padding: 11px;
    display: inline-block;
}
h1#p1{
    font-size: 7em;
    font-family: Anton, sans-serif;
    color: rgb(255, 255, 255);
    font-weight:1;
}
p#p2{
    font-size: 1.5em;
    font-family: Anton, sans-serif;
    color: #586358;
    
    
}
img#photo{
    margin-left: 23em;
    margin-top: 5em;
    
    position: absolute;
    
}

section#sect,section#sect2{
    display: inline-block;
    float: left;
}
details{
    text-align: left;
    margin-left: 20em;
    margin-top:22em;
    background-color: #B1C9B2;
    padding: 5px;
    border-radius: 8px;

}
ul{
    
    columns: 2;
}

